machine_inv-to-spo.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Create_CSV_table": {
                "inputs": {
                    "format": "CSV",
                    "from": "@body('Run_query_and_list_results')?['value']"
                },
                "runAfter": {
                    "Run_query_and_list_results": [
                        "Succeeded"
                    ]
                },
                "type": "Table"
            },
            "Create_file": {
                "inputs": {
                    "body": "@body('Create_CSV_table')",
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://oigdocprod.sharepoint.com/sites/Restricted_OCIO'))}/files",
                    "queries": {
                        "folderPath": "/ATO Documents/Machine Inventory",
                        "name": "MachineInventory_@{utcNow()}.csv",
                        "queryParametersSingleEncoded": true
                    }
                },
                "runAfter": {
                    "Create_CSV_table": [
                        "Succeeded"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                },
                "type": "ApiConnection"
            },
            "Run_query_and_list_results": {
                "inputs": {
                    "body": "// Returns list of Devices and then generates an html file\n//    that is saved to the OCIO/PRIV/ATO Folder\n//   Paul Lewis/Jason Pringle - 30NOV2022\nDeviceNetworkInfo\n| join DeviceInfo on DeviceName\n| where TimeGenerated <ago(5m)\n| extend ipa = todynamic(IPAddresses)\n| mv-expand ipa\n| extend ipb = ipa.IPAddress\n| extend ipc = ipa.SubnetPrefix\n| where ipb !contains \"fe80:\" or ipb !startswith \"2600:\"\n| where MachineGroup contains \"Prod\" or MachineGroup contains \"Unassigned\" or MachineGroup contains \"DMZ\"\n| where ipc == 16 or ipc == 24\n| project TimeGenerated, DeviceName, IP = ipb, CIDR = ipc, MacAddress, MachineGroup, DnsAddresses, OSPlatform, PublicIP, NetworkAdapterName\n| order by TimeGenerated desc, DeviceName desc\n| distinct DeviceName, MachineGroup, MacAddress, tostring(IP), tostring(CIDR), tostring(DnsAddresses), OSPlatform, PublicIP, NetworkAdapterName\n",
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/queryData",
                    "queries": {
                        "resourcegroups": "rg-Sentinel-hub-east",
                        "resourcename": "log-Sentinel-hub-east",
                        "resourcetype": "Log Analytics Workspace",
                        "subscriptions": "5d687dbf-3f77-4e33-96e8-88dec45e179a",
                        "timerange": "ago(5m)"
                    }
                },
                "runAfter": {},
                "type": "ApiConnection"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "Recurrence": {
                "evaluatedRecurrence": {
                    "frequency": "Hour",
                    "interval": 24,
                    "startTime": "2022-11-02T05:15:00",
                    "timeZone": "Eastern Standard Time"
                },
                "recurrence": {
                    "frequency": "Hour",
                    "interval": 24,
                    "startTime": "2022-11-02T05:15:00",
                    "timeZone": "Eastern Standard Time"
                },
                "type": "Recurrence"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "azuremonitorlogs": {
                    "connectionId": "/subscriptions/SUBID/resourceGroups/rg-Sentinel-hub-east/providers/Microsoft.Web/connections/azuremonitorlogs-Move-LogAnalytics-to-Storage",
                    "connectionName": "azuremonitorlogs-Move-LogAnalytics-to-Storage",
                    "id": "/subscriptions/SUBID/providers/Microsoft.Web/locations/eastus/managedApis/azuremonitorlogs"
                },
                "sharepointonline": {
                    "connectionId": "/subscriptions/SUBID/resourceGroups/rg-Sentinel-hub-east/providers/Microsoft.Web/connections/sharepointonline",
                    "connectionName": "sharepointonline",
                    "id": "/subscriptions/SUBID/providers/Microsoft.Web/locations/eastus/managedApis/sharepointonline"
                }
            }
        }
    }
}